// Colors
$blue: rgb(0, 110, 255);
$red: rgb(255, 195, 195);
$background-color: rgb(255, 255, 255);
$foreground-color: white;

$main-section-height: 100%;

$standard-box-shadow-color: rgba(59, 59, 59, 0.4);
$standard-box-shadow: 0 2px 6px 0 $standard-box-shadow-color;
$standard-hover-box-shadow: 0 8px 12px 0 $standard-box-shadow-color;

$standard-white-bg-box-shadow-color: rgb(209, 209, 209);
$standard-white-bg-box-shadow: 0 2px 6px 0 $standard-white-bg-box-shadow-color;
$standard-white-bg-hover-box-shadow: 0 8px 12px 0
  $standard-white-bg-box-shadow-color;

$header-item-box-shadow: 0 4px 8px 0 rgba(58, 58, 58, 0.4);
$header-item-hover-box-shadow: 0 8px 16px 0 rgba(63, 63, 63, 0.4);

$button-hover-color: rgb(240, 240, 240);
$button-selected-color: rgb(214, 214, 214);
$nav-button-select-box-shadow: 0 4px 8px 0 rgb(214, 214, 214);

$left-element-margin-left: 10px;
$right-element-margin-right: 10px;

$highlight-color: rgb(233, 233, 233);
$selected-item-color: rgb(233, 233, 233);
$border-color: rgb(233, 233, 233);

$card-header-color: rgb(243, 243, 243);

html {
  height: 100%;
}

body {
  height: 98%;
  background-color: $background-color;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  & > .animatedLoaderIcon {
    margin: auto;
  }
}

.button {
  padding: 6px 3%;
  border: none;
  border-radius: 10px;
}

.primary {
  background-color: $blue;
  color: white;
}

.danger {
  background-color: $red;
}

.button:hover {
  cursor: pointer;
}

.errorMessage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $red;
  & > * {
    padding: 20px !important;
  }
  border-radius: 10px;
}

.selectableItem:hover {
  cursor: pointer;
  box-shadow: $standard-white-bg-hover-box-shadow;
}

.selectedItem {
  box-shadow: $standard-white-bg-hover-box-shadow;
  background-color: $selected-item-color;
}

.profilePicture {
  background-size: cover;
}

.labelGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid $standard-white-bg-box-shadow-color;

  & > label {
    padding: 6px 3%;
    cursor: inherit;
  }

  & > label:nth-child(1) {
    border-radius: 10px 0 0 10px;
    margin: -1px 0 -1px -1px;
    background-color: $highlight-color;
    border: 1px solid $standard-white-bg-box-shadow-color;
  }

  & > label:nth-child(2) {
    flex-grow: 1;
    overflow-wrap: anywhere;
    text-align: right;
  }
}

.inputGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid $standard-white-bg-box-shadow-color;

  & > input,
  & > textarea,
  & > select {
    padding: 6px 3%;
    border: none;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    outline: none;
    flex-grow: 1;
    transition: 0.1s;
  }

  & > textarea {
    min-height: 75px;
  }

  & > input:focus,
  & > textarea:focus,
  & > select:focus {
    // border: 2px solid $blue;
    outline: none;
    box-shadow: inset 0 0 2px 2px $blue;
  }

  & > label {
    padding: 6px 3%;
    border-radius: 10px 0 0 10px;
    margin: -1px 0 -1px -1px;
    background-color: $highlight-color;
    border: 1px solid $standard-white-bg-box-shadow-color;
  }
}

.dialogBoxContainerDisabled {
  display: none;
}

.dialogBoxContainerEnabled {
  display: block;

  .dialogBoxBackground {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(139, 139, 139, 0.7);
    z-index: 20;
    // backdrop-filter: blur(4px);
    // padding: 5%;
    // display: none;

    .dialogBox {
      width: 80%;
      // height: 80vh;
      box-sizing: border-box;
      padding: 20px;
      background-color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 10px;
      overflow: hidden;

      .dialogHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        flex-shrink: 0;

        .dismissButton:hover {
          cursor: pointer;
        }
      }

      #dialogBody {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 60vh;
        margin-bottom: 25px;

        & > *:last-child {
          margin-bottom: 30px;
        }
      }
    }
  }
}

#userAccountPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .card {
    width: 100% !important;
    height: 100%;
    border-radius: inherit !important;
    border: none !important;
    margin: 0 !important;
  }
}

#header {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 40px;
  width: 100%;
  padding: 10px 0;
  justify-content: space-between;
  margin-bottom: 10px;

  #logoDiv {
    flex-grow: 1;
    // width: $left-element-width;
    height: 100%;
    border: none;
    background: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: $left-element-margin-left;

    #logoButton {
      height: 40px;
      width: 40px;
      margin: 0 10px;
      border-radius: 50%;
      border: none;
      background-color: white;
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: $header-item-box-shadow;
    }

    #logoButton:hover {
      cursor: pointer;
      box-shadow: $header-item-hover-box-shadow;
    }
  }

  @media (min-width: 600px) {
    #navbar {
      display: flex;
    }

    #navSelect {
      display: none;
    }
  }

  @media (max-width: 599px) {
    #navbar {
      display: none;
    }

    #navSelect {
      display: flex;
    }
  }

  #navbar,
  #navSelect {
    flex-grow: 1.5;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    box-shadow: $standard-box-shadow;
    border-radius: 10px;
    height: 100%;
    background-color: $foreground-color;
  }

  #navSelect {
    padding: 5px 10px;
    border: none;
    text-align: center;
  }

  #navSelect:focus {
    outline: none;
    box-shadow: inset 0 0 2px 2px $blue;
  }

  #navbar {
    button {
      margin: 10px 20px;
      display: flex;
      justify-content: space-around;
      border-radius: 10px;
      border: none;
      background-color: inherit;
    }

    button:hover:not(.selected) {
      cursor: pointer;
      background-color: $button-hover-color;
      box-shadow: $nav-button-select-box-shadow;
    }

    .selected {
      background-color: $button-selected-color;
      box-shadow: $nav-button-select-box-shadow;
    }
  }

  #userDiv {
    flex-grow: 1;
    border: none;
    background: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: $right-element-margin-right;
    height: 100%;

    #userButton {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: none;
      background-color: $standard-box-shadow-color;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 10px;
      box-shadow: $header-item-box-shadow;

      .profilePicture {
        height: inherit;
        width: inherit;
        border-radius: 50%;
        svg {
          height: inherit;
          width: inherit;
          border-radius: 50%;
          background-color: white;
        }
      }
    }

    #userButton:hover {
      cursor: pointer;
      box-shadow: $header-item-hover-box-shadow;
    }
  }
}

#mainSection {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.card {
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid $standard-box-shadow-color;
  box-shadow: inherit;

  .cardHeader {
    box-shadow: inherit;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $card-header-color;
    margin-bottom: 15px;
    padding: 10px 0;
    width: 100%;
    flex-basis: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .backButton {
      padding: 0 !important;
      margin-left: 8%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 30px;
    }

    .backButtonOffset {
      margin-right: 8%;
      width: 30px;
    }

    .cardTitle {
      flex-grow: 1;
      text-align: center;
    }
  }

  .cardBody {
    // height: 80%;
    flex-grow: 1;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .profilePicture {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: none;
      img,
      svg {
        border: 1px solid $standard-white-bg-box-shadow-color;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: white;
      }
    }

    .scrollableList {
      height: 400px;
      justify-content: flex-start;
      overflow-y: scroll;

      & > *:last-child {
        margin-bottom: 50px;
      }
    }

    ul {
      // height: 50%;
      flex-grow: 1;
      width: 100%;
      list-style: none;
      padding-left: 0;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .columnFlex {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0;

        & > * {
          margin: 10px;
          width: 90%;
        }
      }

      li {
        width: 90%;
        margin: 10px 0;
        border-radius: 10px;
        border: 1px solid $standard-white-bg-box-shadow-color;

        & > .button:only-child {
          width: 100%;
        }

        // & > span {
        //   padding: 6px 3%;
        // }

        // & > span:nth-child(1) {
        //   border-radius: 10px 0 0 10px;
        //   margin: -1px 0 -1px -1px;
        //   background-color: $highlight-color;
        //   border: 1px solid $standard-white-bg-box-shadow-color;
        // }
      }

      // .selectableItem:hover {
      //   cursor: pointer;
      //   box-shadow: $standard-white-bg-hover-box-shadow;
      // }

      // .selectedItem {
      //   box-shadow: $standard-white-bg-hover-box-shadow;
      //   background-color: $selected-item-color;
      // }
    }
  }

  .cardFooter {
    width: 90%;
    text-align: center;
    padding: 10px 10px 30px 10px;
  }
}

.page {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: $standard-box-shadow;
  width: 98%;
  border-radius: 10px;
  background-color: $foreground-color;

  @media (min-width: 600px) {
    .selectedPageSide {
      display: block;
      border-radius: inherit;
    }

    .deselectedPageSide {
      display: block;
      border-radius: inherit;
    }
  }

  @media (max-width: 599px) {
    .selectedPageSide {
      display: block;
      border-radius: 10px !important;
    }

    .deselectedPageSide {
      display: none;
    }

    .pageMid {
      display: none;
    }
  }

  .pageSide {
    background-color: inherit;
    height: 100%;
    width: 49%;
    z-index: 10;
    flex-grow: 1;

    .card {
      width: 100% !important;
      height: 100%;
      border-radius: inherit !important;
      border: none !important;
      margin: 0 !important;
    }
  }

  .pageMid {
    height: 100%;
    width: 2px;
    box-shadow: $standard-box-shadow;
    background-color: $standard-box-shadow-color;
    // border-radius: 10px;
    z-index: 11;
  }

  .pageSide:nth-child(1) {
    border-radius: 10px 0 0 10px;
  }

  .pageSide:nth-child(3) {
    border-radius: 0 10px 10px 0;
  }
}

#homePage {
  .card {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
  }
}

#footer {
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30px;
  padding: 10px 0;
  text-align: center;
}
